.result__content {
    margin: 0 auto;
    padding: 60px 15pz;
    max-width: 1230px;
}
.result {
    text-align: center;
}
.result__text--correct {
    color: #ff0000;
}
.result__text--incorrect {
    color: #0000ff;
}
.answer-table {
    border: solid 1px #ddd;
}
.answer-table__inner {
    width: 100%;
}
.answer-table__header {
    padding: 15px;
    width: 20%;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.answer-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0;
}